body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    border: 5px white solid;
    border-radius: 0.5em;
    width: -moz-fit-content;;
    width: fit-content;
}

h1,
h2 {
    margin: 10px 0;
}

blockquote {
    margin: 30px auto;
    width: fit-content;
    font-size: 1.5em;
    font-style: italic;
    border-left: 5px solid #ccc;
    padding-left: 1em;
}

button {
    font-size: 1em;
    padding: 10px;
    background: #ccc;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-top: 10px;
}

img {
    display: block;
    margin: 10px auto;
}